body {
    max-width: 100vw;
}

.address{
    font-size: .8rem;
}

@media only screen and (min-width: 760px) {
    .address{
        font-size: 1rem;
    }

}

@media print {
    .address{
        font-size: 1rem;
    }
}